<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{{ path('app_home_page') }}" aria-label="Le Potager Caladois">
  <img class="logo" src="{{ asset('/images/Logo.jpg') }}" alt="Le Potager Caladois">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_categorie') }}"><button type="submit" class="btn btn-color">Catégories</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><button type="submit" class="btn btn-color">Où nous trouver</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><button type="submit" class="btn btn-color">Notre Histoire</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_producteur') }}"><button type="submit" class="btn btn-color">Producteurs</button></a>
      </li>
    </ul>
      <li class="nav-search">
        <form class="form" action="{{ path('app_admin.produit') }}">
          <select name="search_type" class="form-select" aria-label="Default select example">
            <option value='produit'>Produits</option>
            <option value="producteur">Producteurs</option>
          </select>
          <input class="form" type="search" placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </li>
  </div>
        <ul class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mon Compte
          </a>
          <ul class="dropdown-menu">
            {% if is_granted('ROLE_ADMIN') %}
            <li><a class="dropdown-item" href="{{ path('app_admin') }}">AdminDashBoard</a></li>
            <li><hr class="dropdown-divider"></li>
            {% endif %}
            {% if app.user %}
            <li><a class="dropdown-item" href="{{ path('profil') }}">Mon profil</a></li>
            {% endif %}
            {% if not app.user %}
            <li><a class="dropdown-item" href="{{ path('app_security.login') }}">Connexion</a></li>
            {% endif %}
            {% if app.user %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_security.logout') }}">Deconnexion</a></li>
            {% endif %}
          </ul>
        </ul>         
</nav>