{% extends './layout/base.html.twig' %}

{% block title %}
	<p>Profil</p>
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mt-5 p-5">
		<div class="card w-75 mx-auto p-3 mt-5 wrapper">
			<h1 class="text-center">Profil de {{ utilisateur.utilisateurDetails.prenom }} {{ utilisateur.utilisateurDetails.nom }}</h1>
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Ville</th>
                        <th scope="col">Code postal</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ utilisateur.utilisateurDetails.nom }}</td>
                        <td>{{ utilisateur.utilisateurDetails.prenom }}</td>
                        <td>{{ utilisateur.utilisateurDetails.nom }}</td>
                        <td>{{ utilisateur.utilisateurDetails.tel }}</td>
                        <td>{{ utilisateur.utilisateurDetails.adresse }}</td>
                        <td>{{ utilisateur.utilisateurDetails.ville }}</td>
                        <td>{{ utilisateur.utilisateurDetails.codePostal }}</td>
                        <td>
                        <div class="d-flex justify-content-around">
                            <a href="{{ path('profil.edit', {'id': utilisateur.id}) }}" class="btn btn-primary"><i class="bi bi-pencil-square color-light"></i></a>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}